<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Call History</ion-title>
	
	 <ion-button  (click)="presentModal2()" mar-10 slot="end" color="secondary"  shape="round"  size="small" fill="outline">
	   <ion-icon name="add"></ion-icon>
	   Add Call
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile1.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>Today,01:39</p>
		 </ion-label>
	 
	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile2.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Doe</h2>
		 <p>Yesterday,01:39</p>
		 </ion-label>

	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile3.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>Monday,01:39</p>
		 </ion-label>

	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile4.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Doe</h2>
		 <p>Tuesday,01:39</p>
		 </ion-label>

	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile1.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>Wednesday,01:39</p>
		 </ion-label>
	
	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile2.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Doe</h2>
		 <p>Thursday,01:39</p>
		 </ion-label>

	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile3.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>Friday,01:39</p>
		 </ion-label>
	
	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile4.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Doe</h2>
		 <p>Saturday,01:39</p>
		 </ion-label>

	   </ion-item> 
	   <ion-item lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile1.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>Sunday,01:39</p>
		 </ion-label>

	   </ion-item>
</ion-content>
