<!---ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content color="primary" class="cont-img-bg ion-padding">
<div class="pston-relative">
            <div class="home-logo">
			<div routerLink="/tabs/homenew" class="animatin">
			    <span><img src="assets/img/kin-logo.png" alt=""></span>
				</div>
				
			</div>	

		<!--div class="cldr-call">
			<a class="call-btn"  routerLink="/tabs/schedule" color="secondary" href="javascript:void(0)" shape="round">
				<span><ion-icon class="icn-circle fa fa-calendar"></ion-icon></span>Schedule A Call
			</a>		    
		</div-->				
		<ion-row class="margin-top40">
			<ion-col size="6">
			<ion-button class="login-btn"  routerLink="/tabs/schedule" color="secondary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-calendar"></ion-icon> <span>Schedule A Call</span>
			</ion-button>		
			</ion-col>
			<ion-col size="6">
			<ion-button class="login-btn"  routerLink="/tabs/profiles" color="secondary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-user-o"></ion-icon> <span>My Profile</span>
			</ion-button>		
			</ion-col>
			<ion-col size="6">
			<ion-button class="login-btn"  routerLink="/tabs/chats"  color="secondary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-envelope-o"></ion-icon> <span>Messages</span>
			</ion-button>		
			</ion-col>
			<ion-col size="6" >
			<ion-button class="login-btn"    color="secondary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-cog"></ion-icon> <span>Settings</span>
			</ion-button>		
			</ion-col>
		</ion-row>			
		
	</div>
            <div class="botom-help">
				<a href="javascript:void(0)">Need Help?</a>
			</div>		
</ion-content>
