<!-- <ion-header> -->
  <!-- <ion-toolbar> -->
    <!-- <ion-title>login</ion-title> -->
  <!-- </ion-toolbar> -->
<!-- </ion-header> -->
<ion-content color="primary" class="cont-img-bg">
 <div class="flc-cetr">
 <div class="flc-inlne">
            <div class="home-logo">
			<div class="animatin">
			    <span><img src="assets/img/kin-logo.png" alt=""></span>
				</div>
				
			</div>
 <div class="login">

<div form-group>
 <ion-label>Email</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label>
  <ion-input type="email"  placeholder="Enter Email Address" [(ngModel)]="email"></ion-input>
</ion-item>
</div>

<ion-button  expand="full" shape="round" (click)="sendEmail(email)">Reset Password</ion-button>
    <div class="bck-lgn-sec">
        <p>Back To <a routerLink="/login" href="javascript:void(0)">Login</a></p>
    </div>
 </div>
 </div>
 </div>
	
</ion-content>
