<ion-header>
  <ion-toolbar  color="primary">

    <ion-title>Profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<div profileinfo>
<div profileimg>
	  <img src="assets/img/proifle-bg.jpg"/>

</div>
<div userimg>
<div profileedt>
      <img src="assets/img/profile4.jpg">
	  <ion-icon name="pencil"></ion-icon>
</div>
<p radius>John Doe</p>
<p radius>Room No 12</p>
</div>
</div>

<div prfle-info>
<div form-group>
 <ion-label>Name</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="person-outline"></ion-icon></ion-label>
  <ion-input type="text"  value="John Doe"></ion-input>
</ion-item>
</div>
<div form-group>
 <ion-label>Email</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label>
  <ion-input type="email"  value="johndoe@gmail.com"></ion-input>
</ion-item>
</div>
<div form-group>
 <ion-label>Room No</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="home-outline"></ion-icon></ion-label>
  <ion-input type="text"  value="Room No 12"></ion-input>
</ion-item>
</div>
<div form-group>
 <ion-label>Password</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
  <ion-input type="password"  value="*********"></ion-input>
</ion-item>
</div>
<div form-group>
 <ion-label>New Password</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
  <ion-input type="password"  value="*********"></ion-input>
</ion-item>
</div>
<div form-group>
 <ion-label>Confirm New Password</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
  <ion-input type="password"  value="*********"></ion-input>
</ion-item>
</div>
<ion-button  expand="full" shape="round">Submit</ion-button>
</div>

</ion-content>
