<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons  slot="start">
	   <ion-back-button  defaultHref="/tabs/chats">
	   </ion-back-button>
    </ion-buttons>

	<ion-item  color="primary" lines="none">
	   <ion-avatar>
	  <img src="assets/img/profile2.jpg"/>
	  <span></span>
	   </ion-avatar>
	<ion-label>
	<h2>Johnson Charles</h2>
	</ion-label>
	</ion-item>	
  </ion-toolbar>

</ion-header>
<ion-content bg-light-grey>
<div lines="none" mesge-right>
  <ion-avatar slot="start">
    <img src="assets/img/profile1.jpg">
  </ion-avatar>
  <p>Lorem ipsum dolor sit amet, consectetur</p>
</div>
<div lines="none" mesge-left>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun</p>
  <ion-avatar slot="end">
    <img src="assets/img/profile2.jpg">
  </ion-avatar>  
</div>
<div class="date-time">
<p>Monday, 10:00 AM</p>
</div>
<div lines="none" mesge-right>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
  <ion-avatar slot="end">
    <img src="assets/img/profile1.jpg">
  </ion-avatar>  
</div>
<div lines="none" mesge-left>
  <ion-avatar slot="start">
    <img src="assets/img/profile2.jpg">
  </ion-avatar>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
<div lines="none" mesge-left>
  <ion-avatar slot="start">
    <img src="assets/img/profile2.jpg">
  </ion-avatar>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>
</ion-content>

<ion-footer>
<ion-item  lines="none">
<ion-input placeholder="Type a message"></ion-input>
<ion-button>
<ion-icon name="send"></ion-icon>
</ion-button>
</ion-item>
</ion-footer>
