<!-- <ion-header> -->
  <!-- <ion-toolbar> -->
    <!-- <ion-title>login</ion-title> -->
  <!-- </ion-toolbar> -->
<!-- </ion-header> -->
<ion-content color="primary" class="cont-img-bg">
            <div class="home-logo">
			<div class="animatin">
			    <span><img src="assets/img/kin-logo.png" alt=""></span>
				</div>
				
			</div>
 <div class="login">
 <div class="Credit-head">
     <p>Credit Card Payment</p>
 </div>
<div form-group>
 <ion-label>Name</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="person-outline"></ion-icon></ion-label>
  <ion-input type="text"  placeholder="Enter Name"></ion-input>
</ion-item>
</div>
<div form-group>
 <ion-label>Credit Card Number</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="card-outline"></ion-icon></ion-label>
  <ion-input type="text"  placeholder="Enter Credit Card Number"></ion-input>
</ion-item>
</div>

<div form-group>
 <ion-label>Exp Date</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="calendar-outline"></ion-icon></ion-label>
<ion-datetime value="YY-MM-DDT15:43:40.394Z" placeholder="YY-MM-DD" display-timezone="utc"></ion-datetime>
</ion-item>
</div>
<div form-group>
 <ion-label>CVC</ion-label>
 <ion-item lines="none"  >
  <ion-label><ion-icon name="card-outline"></ion-icon></ion-label>
  <ion-input type="number"  placeholder="Enter CVC"></ion-input>
</ion-item>
</div>

<ion-button  expand="full" shape="round" >Submit</ion-button>
<div class="or-sec">
<p>Or</p>
</div>
<div class="paypl-btn">
			<ion-button class="login-btn" color="secondary" shape="round" expand="full">
				<ion-icon class="icn-circle  fa fa-paypal"></ion-icon> <span>Paypal</span>
			</ion-button>

</div>
 </div>
	
</ion-content>
