<!---ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content color="primary" class="cont-img-bg ion-padding">
<div class="pston-relative">
<div class="pston-centr">
            <div class="home-logo">
			<div class="animatin">
			    <span><img src="assets/img/kin-logo.png" alt=""></span>
				</div>
				
			</div>	
		<ion-row class="margin-top40">
			<ion-col size="6">
			<ion-button routerLink="/login" class="login-btn" color="secondary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-sign-in"></ion-icon> <span>Login</span>
			</ion-button>		
			</ion-col>
			<ion-col size="6">
			<ion-button routerLink="/signup" class="login-btn" color="secondary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-sign-in"></ion-icon> <span>Sign Up</span>
			</ion-button>		
			</ion-col>
		</ion-row>			
		
	</div>
	</div>
            <div class="botom-help">
				<a href="javascript:void(0)">Need Help?</a>
			</div>		
</ion-content>
